.userListWrapper{
    background-color: #2A2845;

}
.feedWrapper{
    background-color: white;
}
.chatButton{
    background: #5adf5a;
    color:#ffffff;
    width:30%;
}

.chatButton:hover{
    background:green;
}

input {
    width: 100%;
}