.mainContent {
  width: 300px;
  height:300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;  
}

.existing-user {
    background: white;
    border: none;
    color: blue;
}

.mainLoginContent {
  width: 300px;
  height:400px;
  text-align: center;
}

.text-danger {
    display: block;
}

.chat-login-input {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

label {
    color: rgb(94, 185, 238);
    text-align: left;
    font-weight: 100;
    display: block;
    margin-left: 10%;
}

.logBtn {
    border-radius: 4px;
    font-size:12px;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    text-transform: uppercase;
    margin-top: 5%;
    width: 80%;
    height: 45px;
}

.logBtn:hover {
    background-color: #57595D;
    border-color: #57595D;
    transition: 0.5s background-color;
}

.chatWindow{
    position:fixed;
	bottom:50px;
    right:260px;
    border: 1px solid blue;
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

.chatWindowHeader{
    background: #293239;
    padding-top: 3px;
    padding-bottom:5px;
}

.chatWindow h3{
    text-align:center;
    color:#ffffff;
}

.chatFormWrapper{
    padding: 10px 10px 20px 10px;
}