<nav class="navbar navbar-expand-lg navbar-custom top-bar fixed">
  <div class="collapse navbar-collapse" id="navbarText" style="justify-content: center;">
    <ul class="navbar-nav left-nav">
      <li class="nav-item">
        <div class="collection">
          <a class="nav-link" [routerLink]='["/home"]'>Főoldal </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="collection">
          <a class="nav-link" [routerLink]='["/carpentry-services"]'>Szolgáltatások</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="collection" style="margin-right: 40px;">
          <a class="nav-link" [routerLink]='["/fabrics"]'>Szövetek</a>
        </div>
      </li>
      <li class="nav-item">
        <a [routerLink]='["/home"]'>
          <img class="logo-image" src="../../assets/homepage_images/logo.png" alt="Carpentry ">
        </a>
      </li>
      <li class="nav-item">
        <div class="collection" style="margin-left: 40px;">
          <a class="nav-link" [routerLink]='["/contact-us"]'>Kapcsolat</a>
        </div>
      </li>
      <li *ngIf="!loggedIn" class="collection">
        <a class="nav-link" [routerLink]='["/registration"]'><span class="glyphicon glyphicon-user"></span>
          Regisztráció</a>
      </li>
      <li *ngIf="!loggedIn" class="collection">
        <a class="nav-link" [routerLink]='["/login"]'><span class="glyphicon glyphicon-log-in"></span>
          Bejelentkezés</a>
      </li>
      <li *ngIf="loggedIn" class="collection">
        <a class="nav-link" [routerLink]='["logout"]'>Kijelentkezés<span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>