li .glyphicon {
  margin-right: 10px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav-item{
  display:inline-block;
}
.navbar {
  border-radius: 0px;
  border-width: 0px;
  width:99%;
  position: fixed;
  top: 0;
}

.left-nav{
  padding-left:270px;
}

.right-nav{
  padding-right:300px;
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }

  .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0px;
  }

  .navbar ul {
    float: none;
  }

  .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px;
  }

  .navbar li a {
    padding: 10px 16px;
    border-radius: 4px;
  }

  .navbar a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
