<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-custom bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto left-nav" style="display:inline-block;">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/home"]'>Főoldal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/carpentry-services"]'>Szolgáltatások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/fabrics"]'>Szövetek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/contact-us"]'>Kapcsolat</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right mr-auto right-nav" *ngIf="loggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/admin-area"]'>Admin kezelőfelület</a>
        </li>
        <li>
          <a class="nav-link" href="logout()" ><span class="glyphicon glyphicon-log-out"></span>
            Kijelentkezés</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right mr-auto right-nav" *ngIf="!loggedIn">
        <li>
          <a class="nav-link" [routerLink]='["/registration"]'><span class="glyphicon glyphicon-user"></span>
            Regisztráció</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]='["/login"]'><span class="glyphicon glyphicon-log-in"></span>
            Bejelentkezés</a>
        </li>
      </ul>
    </div>
  </nav>
</body>

</html>