body {
    background: #eee;
    margin-left: 15%;
    width: 70%;
}

.priceEstimate {
    padding: 10px 10px 10px 30px;
    height: 70px;
}

.concreteFtField{
    font-style: italic;
    font-size: 20px;
}

.ftField{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding-left: 40px;
}