<body>
  <div class="login-form">
    <div class="main-div">
      <form #f="ngForm" (ngSubmit)="registerUser(f)" class="registerForm" novalidate>
        <span class="login-span">Regisztráció</span>
        <hr>
        <div class="form-group">
            <label>Felhasználónév</label>
          <input type="text" name="userName" class="form-control" id="name" placeholder="Adja meg a felhasználónevét..." [ngModel]="registerUser.userName" #name="ngModel">
        </div>
        <div class="form-group">
            <label>E-mail</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Adja meg a e-mail címét..." [ngModel]="registerUser.email" #email="ngModel">
        </div>
        <div class="form-group">
            <label>Jelszó</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Adja meg a jelszavát..." ngModel>
        </div>
        <div class="form-group">
            <label>Jelszó megerősítése</label>
          <input type="password" class="form-control" id="passwordc" placeholder="Erősítse meg a jelszavát...">
        </div>
        <div *ngIf='errors'>
            <p style="color: red; font-size: 12px">{{errors}}</p>
        </div>
        <button type="submit" class="btn btn-primary logBtn"><span class="btnText">Regisztráció</span></button>
      </form>
    </div>
  </div>
</body>
