.main-div {
    border-radius: 2px;
    text-align: center;
}

body {
    background: #eee;
}

.register-error {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px; 
    background-color: #ffdce0;
    color: #86181d;
    height: 55px;
}

.error-message {
    float: left;
    margin-top: 1%;
}

.close-btn {
    background-color: #ffdce0;
    border-color: #ffdce0;
    color:#86181d;
    border-style: none;
    margin-top: 1%;
    float: right;
}

.close-btn:hover {
    background-color: #ffc690;
    border-color: #ffdce0;
    color:#86181d;
}

.login-span {
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0px;
    display: block;
    font-size: 20px;
}

label {
    color: rgb(94, 185, 238);
    text-align: left;
    font-weight: 100;
    display: block;
}

.registerForm {
    margin-top: 10%;
    align-content: center;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    background: #fff;
    font-family: Roboto;
    font-size: 14px;
    width: 40%;
    font-weight: 100;
    box-shadow: 0 0 2px #888;
    min-width: 400px;
}

.login-form {
    height: 100%;
}

.logBtn {
    border-radius: 4px;
    font-size:16px;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    text-transform: uppercase;
    width: 100%;
    height: 45px;
}

.logBtn:hover {
    background-color: #57595D;
    border-color: #57595D;
    transition: 0.5s background-color;
}

.form-group {
    margin-bottom: 35px;
}