<body>
  <div class="login-form">
    <div class="main-div">
      <form #f="ngForm" (ngSubmit)="registerUser(f)" class="registerForm" [formGroup]="registerForm" novalidate>
        <span class="login-span">Regisztráció</span>
        <hr>
        <div class="register-error" *ngIf="showError">
          <span class="error-message">{{errors}}</span>
          <button class="btn-danger close-btn" (click)="closeErrorDiv()">X</button>
        </div>
        <span class="text-danger" *ngIf="userName.invalid && f.submitted">Kötelező nevet megadni</span>
        <div class="form-group">
          <label>Felhasználónév</label>
          <input type="text" name="userName" formControlName="userName" class="form-control" id="name"
            placeholder="Adja meg a felhasználónevét...">
        </div>
        <span class="text-danger" *ngIf="email.invalid && f.submitted">Kérjük adjon meg egy valós email címet</span>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" name="email" formControlName="email" class="form-control" id="email"
            placeholder="Adja meg a e-mail címét...">
        </div>
        <span class="text-danger" *ngIf="password.invalid && f.submitted">A jelszónak legalább 6 karakterből kell
          állnia</span>
        <div class="form-group">
          <label>Jelszó</label>
          <input type="password" formControlName="password" required minlength="6" name="password" class="form-control"
            id="password" placeholder="Adja meg a jelszavát...">
        </div>
        <div class="text-danger" *ngIf="passwordConfirmation.invalid && f.submitted">Kérjük erősítse meg
          jelszavát</div>
        <div class="text-danger"
          *ngIf="registerForm.get('password').value != registerForm.get('passwordConfirmation').value && registerForm.get('passwordConfirmation').value != null">
          A jelszó megerősítése nem egyezik meg a jelszóval</div>
        <div class="form-group">
          <label>Jelszó megerősítése</label>
          <input type="password" formControlName="passwordConfirmation" name="passwordConfirmation" id="passwordc"
            class="form-control" placeholder="Erősítse meg a jelszavát...">
        </div>
        <button type="submit" class="btn btn-primary logBtn"><span class="btnText">Regisztráció</span></button>
      </form>
    </div>
  </div>
</body>