<div class="asd">
    <div class="main-div">
      <form #f="ngForm" (ngSubmit)="submit()" class="registerForm" [formGroup]="offerRequestForm" novalidate>
        <span class="login-span">Ha kérdése van, keressen minket bátran!</span>
        <hr>
        <div class="register-error" *ngIf="showError">
          <span class="error-message">{{errors}}</span>
          <button class="btn-danger close-btn" (click)="closeErrorDiv()">X</button>
        </div>
        <span class="text-danger" *ngIf="name.invalid && f.submitted && !successFulSubmit">Kérjük adja meg a nevét</span>
        <div class="form-group">
          <label>Név (kötelező)</label>
          <input type="text" name="name" formControlName="name" class="form-control" id="name"
            placeholder="Adja meg a nevét...">
        </div>
        <span class="text-danger" *ngIf="emailAddress.invalid && f.submitted && !successFulSubmit">Kérjük adjon meg egy valós email címet</span>
        <div class="form-group">
          <label>E-mail (kötelező)</label>
          <input type="emailAddress" name="emailAddress" formControlName="emailAddress" class="form-control" id="emailAddress"
            placeholder="Adja meg a e-mail címét...">
        </div>
        <span class="text-danger" *ngIf="message.invalid && f.submitted && !successFulSubmit">Kérjük adjon meg egy üzenetet</span>
        <div class="form-group">
          <label>Üzenet</label>
          <textarea cols="40" rows="5" formControlName="message" name="message" class="form-control"
            id="password" placeholder="Adja meg az üzenetet..."></textarea>
        </div>
        <div class="form-group">
          <label>Kép feltöltése (opcionális)</label>
          <input type="file" formControlName="offerPicture" name="passwordConfirmation">
        </div>
        <button type="submit" class="btn btn-primary logBtn"><span class="btnText">Küldés</span></button>
      </form>
    </div>
  </div>