<!DOCTYPE html>
<html>
<h1 style="margin-top: 100px;">Locations</h1>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div *ngIf="adminFlag" class="addLocation">
    <a href="/add-location">
      <button class="btn btn-primary">Add new location</button>
    </a>
  </div>
  <div class="row" style="margin:30px">
    <a *ngFor="let location of locationList">
      <div *ngIf="location.picture">
        <div class="container">
          <a [routerLink]="['/location/details/' + location.locationId]">
            <img class="tn" src="{{location.picture}}" onerror="this.src='https://via.placeholder.com/300x210'" />
          </a>
          <div *ngIf="adminFlag">
            <button class="btn btn-danger btnDelete" (click)="delete(location.locationId, location.name)"><span class="glyphicon glyphicon-remove"></span></button>
            <a [routerLink]="['/location/edit/', location.locationId]">
              <button class="btn btn-danger btnEdit"><span class="glyphicon glyphicon-pencil"></span></button>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="!location.picture">
        <div class="container">
          <a [routerLink]="['/location/details/' + location.locationId]">
            <img class="tn" src="https://via.placeholder.com/300x210" />
          </a>
          <div *ngIf="adminFlag">
            <button class="btn btn-danger btnDelete" (click)="delete(location.locationId, location.name)"><span class="glyphicon glyphicon-remove"></span></button>
            <a [routerLink]="['/location/edit/', location.locationId]">
              <button class="btn btn-danger btnEdit"><span class="glyphicon glyphicon-pencil"></span></button>
            </a>
          </div>
        </div>
      </div>
      <div class="imageText">{{location.name}}</div>
    </a>
  </div>
</body>

</html>
