<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

<div style="display: flex;" *ngIf="adminFlag">
  <div class="add-div">
    <a class="add-button" [routerLink]="['/add-contact']">Új kapcsolat</a>
  </div>
</div>
<div class="container">
  <div class="offer-div">
    <app-offer-form></app-offer-form>
  </div>
  <div class="contacts">
    <div *ngFor="let contact of contacts">
      <div class="login-form" *ngIf="!isLoggedIn">
        <div class="main-div">
          <div class="container-div">
            <div *ngIf=adminFlag>
              <button class="btn btn-danger btnDelete" (click)="deleteContact(contact.contactId, contact.name)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <a [routerLink]="['/contact/edit/', contact.contactId]">
                <button class="btn btn-danger btnEdit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </a>
            </div>
            <span class="nameText">Név:</span> {{contact.name}}<br>
            <span class="nameText">Telefonszám:</span> {{contact.phone}}<br>
            <span class="nameText">E-mail cím:</span> {{contact.emailAddress}}<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="placeholder">
  <app-map></app-map>
</div>