.row{
  align-content: center;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  padding:0px;
}

.container img {
    width: 100%;
    height: auto;
    margin:10px;
    width:260px;
    height:200px;
}

.referenceText{
  font-family: brandon-grotesque;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 50px;
  margin-bottom: 40px;
  align-content: center;
  text-align: center;
  letter-spacing: 10px;
  margin-right:135px;
}