.row{
  width: 70%;
  overflow: hidden;
  margin-left: 20%;
}

.container {
  display: flex;
  float: left;
  width: fit-content;
  margin: 5px;
}

.referenceText{
  font-family: brandon-grotesque;
  font-size: 18px;
  text-transform: uppercase;
  margin: 50px 0 60px 0;
  text-align: center;
  letter-spacing: 10px;
}

.container .btnDelete {
  position: absolute;
  top: 16%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  opacity: 0.5;
  color: white;
  font-size: 16px;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btnDelete:hover{
  opacity: 0.1;
}

.add-button {
  padding: 10px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
}

.add-button:hover {
  color:#fff;
  background: #000;
  transition-duration: 0.5s;
}

.tn {
  width: 300px;
  height: 210px;
}