<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div style="text-align: center;">
  <p class="referenceText">Referenciák</p>
  <a *ngIf="adminFlag" class="add-button" [routerLink]="['/add-reference-picture']">Új referenciakép</a>
</div>
<div class="row">
  <div class="container" *ngFor="let referencePicture of referencePictures">
    <img class="tn" src="{{referencePicture.pictureUrl}}" onerror="this.src='https://via.placeholder.com/300x210'" />
    <div *ngIf=adminFlag>
      <button class="btn btn-danger btnDelete" (click)="delete(referencePicture.pictureUrl)"><span
          class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</div>