<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <div class="price-div">
    <div class='title-div'>
      <h1 class='title-span'>Árbecslés</h1>
      <button type="button" class="close" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true" class="closeButtonText">&times;</span>
      </button>
    </div>
    <div class='close-div'>
    </div>
    <div class='service-div'>
      <div>
        Szolgáltatáscsoport
        <select [(ngModel)]="carpentryServiceTypeId">
          <option *ngFor="let type of carpentryServiceTypeList" [ngValue]="type.carpentryServiceTypeId">
            {{type.name}}
          </option>
        </select>
      </div>
      <div *ngIf="carpentryServiceTypeId">
        {{getCarpentryServicesByTypeId(carpentryServiceTypeId)}}
        Szolgáltatás
        <select [(ngModel)]="currentCarpentryServicePrice">
          <option *ngFor="let service of carpentryServices" [ngValue]="service.price">
            {{service.name}}
          </option>
        </select>
        <input type="number" class="form-control" [(ngModel)]="hour" placeholder="óra">
        {{currentCarpentryServicePrice}}
      </div>
    </div>
    <div class='fabric-div'>
      <div>
        Szövettípus
        <select [(ngModel)]="fabricTypeId">
          <option *ngFor="let type of fabricTypes" [ngValue]="type.fabricTypeId">
            {{type.name}}
          </option>
        </select>
      </div>
      <div *ngIf="fabricTypeId">
        {{getFabricsByTypeId(fabricTypeId)}}
        Szövet
        <select [(ngModel)]="currentFabricPrice">
          <option *ngFor="let fabric of fabrics" [ngValue]="fabric.price">
            {{fabric.name}}
          </option>
        </select>
        <input type="number" class="form-control" [(ngModel)]="size" placeholder="méret">
        {{currentFabricPrice}}
      </div>
    </div>
    <div class="estimateButton">
      <button class="btn btn-primary" (click)="calculateEstimate()" style="font-size:16px">Mehet</button>
    </div>
    <div *ngIf="showEstimate" class="priceEstimate">
        <output class="outputField" name="estimate" for="a b">
          <span class="concreteFtField">{{priceEstimateResult}}</span>
          <span class="ftField">HUF</span>
        </output>

      </div>
  </div>
</body>