<div class="price-div">
  <div *ngIf="!showInputData">
    <button class="show-input-button" (click)="showInput()">+</button>
  </div>
  <div class='service-div' *ngIf="showInputData">
    <span>Szolgáltatáscsoport</span>
    <div class="select-div">
      <select [(ngModel)]="carpentryServiceTypeId">
        <option *ngFor="let type of carpentryServiceTypeList" [ngValue]="type.carpentryServiceTypeId">
          {{type.name}}
        </option>
      </select>
    </div>
    <span *ngIf="carpentryServiceTypeId">Szolgáltatás</span>
    <div class="select-div" *ngIf="carpentryServiceTypeId">
      <select [(ngModel)]="currentCarpentryServicePrice">
        <option *ngFor="let service of getCarpentryServicesByTypeId(carpentryServiceTypeId)" [ngValue]="service.price">
          {{service.name}}
        </option>
      </select>
    </div>
  </div>
  <div class='fabric-div'>
    <span class="right-span" *ngIf="currentCarpentryServicePrice"> Szövettípus </span>
    <div class="select-div right-div" *ngIf="currentCarpentryServicePrice">
      <select [(ngModel)]="fabricTypeId">
        <option *ngFor="let type of fabricTypes" [ngValue]="type.fabricTypeId">
          {{type.name}}
        </option>
      </select>
    </div>
    <span class="right-span" *ngIf="fabricTypeId">Szövet</span>
    <div class="select-div right-div" *ngIf="fabricTypeId">
      <select class="fabric-select"  [(ngModel)]="currentFabric">
        <option *ngFor="let fabric of getFabricsByTypeId(fabricTypeId)" [ngValue]="fabric">
          {{fabric.name}}
        </option>
      </select>
      <div *ngIf=currentFabric>
        <img class="fabric-image" src="{{baseUrl}}images/fabric_pictures/{{getFabricUrlById(currentFabric.fabricId)}}"
          alt="Carpentry ">
      </div>
    </div>
  </div>
  <span *ngIf="currentFabric">Szövet mérete (négyzetméterben)</span>
  <input *ngIf="currentFabric" type="number" class="form-control" [(ngModel)]="size" placeholder="méret"
    (ngModelChange)="calculateEstimate()">
  <div class="price" *ngIf="currentFabric">
    <div style="float: right;">
      <span class="concreteFtField">{{priceEstimateResult}}</span>
      <span class="ftField">HUF</span>
    </div>
  </div>
</div>
<hr>