<!DOCTYPE html>
<html>
<h1 style="margin-top: 100px;">Favorites</h1>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div class="row" style="margin:30px">
    <a *ngFor="let favorite of favoriteList">
      <div *ngIf="favorite.picture">
        <div class="container">
          <a [routerLink]="['/location/details/' + favorite.locationId]">
            <img class="tn" src="{{favorite.picture}}" onerror="this.src='https://via.placeholder.com/300x210'" />
          </a>
          <button class="btn btn-danger btnDelete" (click)="removeFavorite(favorite.locationId)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>
      <div *ngIf="!favorite.picture">
        <div class="container">
            <a [routerLink]="['/location/details/' + favorite.locationId]">
            <img class="tn" src="https://via.placeholder.com/300x210" />
          </a>
          <button class="btn btn-danger btnDelete" (click)="removeFavorite(favorite.locationId)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>
      <div class="imageText">{{favorite.name}}</div>
    </a>
  </div>
</body>

</html>
