<img src="https://i.gyazo.com/df89bb52fba4ff7b576361eecdb00fa2.png" alt="placehold.it/350x250" class="main-image" >
<p>
  Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
</p>
<div class='row content'>
  <div class='col-sm-6 body-content'>
    <app-ratings></app-ratings>
  </div>
</div>
