<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <div *ngIf="fabrics && fabricTypes">
    <div *ngFor="let type of fabricTypes">
      <h2>{{type.name}}</h2>
      <div *ngFor="let fabric of getFabricsByTypeId(type)">
        <div class="container">
          {{fabric.name}}
          <img class="tn" src="{{getFabricUrlById(fabric.fabricId)}}"
            onerror="this.src='https://via.placeholder.com/300x210'" />
        </div>
      </div>
    </div>
  </div>
</body>