<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <div style="display: flex;" *ngIf="adminFlag">
    <div class="add-div">
      <a class="add-button" [routerLink]="['/add-fabric-type']">Új szövettípus</a>
    </div>

    <div class="add-div">
      <a class="add-button" [routerLink]="['/add-fabric']">Új szövet</a>
    </div>
  </div>
  <div *ngFor="let type of fabricTypes">
    <div class="type-container">
      <div *ngIf=adminFlag style="display: inline-block; margin-left: 20px">
        <button class="btn btn-danger btnDelete" (click)="deleteType(type.fabricTypeId, type.name)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <a [routerLink]="['/fabric-type/edit/', type.fabricTypeId]">
          <button class="btn btn-danger btnEdit"><span class="glyphicon glyphicon-pencil"></span></button>
        </a>
      </div>
      <h4 class="fabric-type text-capitalize">{{type.name}}</h4>
    </div>
    <hr>
    <div class="fabric-container">
      <div class="column medium-4 small-6 end" *ngFor="let fabric of getFabricsByTypeId(type)">
        <div class="card card-bordered card-offer">
          <div class="row hero medium-collapse">
            <div class="fabric-div">
              <p class="fabric-p">{{fabric.name}}</p>
              <div *ngIf=adminFlag>
                  <button class="btn btn-danger btnDelete" (click)="delete(fabric.fabricId, fabric.name)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <a [routerLink]="['/fabric/edit/', fabric.fabricId]">
                    <button class="btn btn-danger btnEdit"><span class="glyphicon glyphicon-pencil"></span></button>
                  </a>
                </div>
            </div>
            <div class="fabric-type-div">
              <p>{{fabric.price}}.-</p>
            </div>
          </div>
          <img class="fabric-image" src="../../assets/fabric_pictures/{{getFabricUrlById(fabric.fabricId)}}" alt="Carpentry ">
          
        </div>
      </div>
    </div>
  </div>
  <div class="estimate-div">
    <a class="estimate-button" [routerLink]="['/request-offer']">Ajánlatkérés</a>
  </div>
</body>