<h1 style="margin-top:100px">{{title}}</h1>
<hr />

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <form [formGroup]="addContactForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="Kapcsolat neve">
        <span class="text-danger" *ngIf="name.invalid && formDir.submitted">Kötelező nevet megadi</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="phone" placeholder="Kapcsolat telefonszáma">
        <span class="text-danger" *ngIf="phone.invalid && formDir.submitted">Kötelező telefonszámot megadni</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="emailAddress" placeholder="Kapcsolat email-címe">
        <span class="text-danger" *ngIf="emailAddress.invalid && formDir.submitted">Kötelező email-címet megadni</span>
      </div>
      <button type="submit" class="btn btn-primary" style="font-size:16px">Kapcsolat felvétele</button>
      <button class=btn (click)="cancel()" style="font-size:16px">Mégse</button>
    </div>
  </form>
</body>