body {
    max-height: 200px;
}

.checked{
    color: orange;
}

.list-group {
    display:inline-block;
}

.slideshow-container {
    margin: 100px 0 0 0;
    position: relative;
    background: #eee;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mySlides {
    display: none;
    text-align: center;
    align-content: center;
  }

  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    left: 0;

  }
  
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    right: 0;
  }

  .prev:hover, .next:hover{
      background-color: #eff;
  }
  
  .prev:hover, .next:hover {
    color: white;
  }
  
  .rating-div {
    margin: 0 50px 0 50px;
  }

  .stars-container {
    margin: 10px 0 10px 0; 
  }
  
  q {
      font-style: italic;
}

  .author {
      color: cornflowerblue;
    }

  
.stars{
    display: inline;
}