<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">
  <div class="row">
    <div class="opinion-div">
      <h1 class="opinion-header">Vélemények</h1>
      <div class="list-group" *ngFor="let rating of ratings">
        <div class="opinion-entry">
          <div class="col-md-9">
            <p class="list-group-item-text opinion-text"> {{rating.text}}
            </p>
          </div>
          <div class="col-md-3 text-center">
            <h2> {{rating.user}} </h2>
            <div class="stars" *ngFor="let star of getStars(rating)" style="display: inline">
              <span class="fa fa-star checked"></span>
            </div>
            <div class="stars" *ngFor="let star of getBlackStars()" style="display: inline">
                <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>