<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="opinions-div">
  {{showSlides(1)}}
  <div class="slideshow-container">
      <div class="mySlides" *ngFor="let rating of ratings">
        <div class="stars-container">
        <div class="stars" *ngFor="let star of getStars(rating)">
          <span class="fa fa-star checked"></span>
        </div>
        <div class="stars" *ngFor="let star of getBlackStars()">
          <span class="fa fa-star"></span>
        </div>
      </div>
        <div class="rating-div">
          <q class="rating-text">{{rating.text}}</q>
          <p class="author">- {{rating.user}}</p>
        </div>
      </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
</body>