a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}


.checked{
    color: orange;
}

.opinion-entry{
    border:1px solid grey;
}

.opinion-div{
    padding-top: 50px;
    padding-right: 450px;
}

.opinion-header{
    padding-bottom: 20px;
    font-family: brandon-grotesque;
    font-weight: 400;
    font-style: bold;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 50px;
    letter-spacing: 10px;
}

.opinion-text{
    padding-top:20px;
    padding-bottom: 20px;
}

.slider-container{
    width:800px;
    height:600px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    text-align: center;
}

.rating-container{
    width:2400px;
    height:600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-rating{
    float:left;
    margin: 0px;
    padding: 0px;
}

.button-container{
    top: -20px;
    position: relative;
}

.slider-button{
    display:inline-block;
    height:10px;
    width:10px;
    border-radius: 5px;
    background-color: black;
}

#slider-rating-1:target ~ .rating-container{
    left: 0px;
}

#slider-rating-1:target ~ .rating-container{
    left: -800px;
}

#slider-rating-1:target ~ .rating-container{
    left: -1600px;
}

.content{
    padding-left:-300px;
}

.slideshow-container {
    margin-top:100px;
    margin-left:-330px;
    margin-right: 300px;
    position: relative;
    background: #f1f1f1f1;
    align-content: center;
    width: 1920px;
    height: 200px;
    transition: left 2s;
    -webkit-transition: left 2s;
  }
  
  .mySlides {
    display: none;
    padding-top:20px;
    padding-left:480px;
    padding-right:480px;
    text-align: center;
    transition: left 2s;
    -webkit-transition: left 2s;
    align-content: center;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    padding-left:400px;
    padding-right:400px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    color: white;
  }
  
  q {
      font-style: italic;
      margin-top:20px;
      margin-bottom: 20px;
      transition: left 2s;
      -webkit-transition: left 2s;
}

  .author {
      color: cornflowerblue;
    }

  
.stars{
    display: inline;
}