<h1 style="margin-top:100px">{{title}}</h1>
<hr />

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
</head>

<body>
  <form [formGroup]="addCarpentryServiceTypeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="Szolgáltatáscsoport neve">
        <span class="text-danger" *ngIf="name.invalid && formDir.submitted" >Kötelező nevet megadni</span>
      </div>
      <button type="submit" class="btn btn-primary" style="font-size:16px">Szolgáltatáscsoport felvétele</button>
      <button class=btn (click)="cancel()" style="font-size:16px">Mégse</button>
    </div>
  </form>
</body>
