<body>
  <div class="login-form" *ngIf="!isLoggedIn">
    <div class="main-div">
        <h1>Admin bejelentkezés</h1>
      <form #f="ngForm" (ngSubmit)="loginUser(f)" class="inputForm" novalidate>
        <div class="form-group">
          <input type="text" name="userName" class="form-control" id="userName" placeholder="Felhasználónév" [ngModel]="loginUser.userName"
            #userName="ngModel">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" id="password" placeholder="Jelszó" ngModel>
        </div>
        <div *ngIf='errors'>
          <p style="color: red; font-size: 12px">{{errors}}</p>
        </div>
        <button type="submit" class="btn-primary logBtn">Bejelentkezés</button>
      </form>
    </div>
  </div>
  <div *ngIf="isLoggedIn">
    <h1>Már be van jelentkezve</h1>  
  </div>
</body>