<body>
  <div class="login-form" *ngIf="!isLoggedIn">
    <div class="main-div">
      <form #f="ngForm" (ngSubmit)="loginUser(f)" class="inputForm" novalidate>
        <span class="login-span">Bejelentkezés</span>
        <hr>
        <div class="login-error" *ngIf="showError">
          <span class="error-message">{{errors}}</span>
          <button class="btn-danger close-btn" (click)="closeErrorDiv()">X</button>
        </div>
        <div class="form-group">
          <label>Felhasználónév</label>
          <input type="text" name="userName" class="form-control" id="userName" placeholder="Adja meg a felhasználónevét..." [ngModel]="loginUser.userName"
            #userName="ngModel">
        </div>
        <div class="form-group">
          <label>Jelszó</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Adja meg a jelszavát..." ngModel>
        </div>
        <button type="submit" class="btn-primary logBtn"><span class="btnText">Bejelentkezés</span></button>
      </form>
    </div>
  </div>
  <div *ngIf="isLoggedIn">
    <h2>Már be van jelentkezve</h2>  
  </div>
</body>