.main-div{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inputForm{
    padding-top:50px;
    padding-bottom: 50px;
    width: 200px;
    align-content: center;
}

.logBtn{
    margin-left:40px;
}