<head>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'>
      <app-nav-menu></app-nav-menu>
    </div>
  </div>
  <div class='main-content row content'>
    <div class='col-sm-12 body-content'>
      <router-outlet></router-outlet>
    </div>
    <button class="fa my-float float" (click)="openDialog()">Árajánlat kérése</button>
    <a [routerLink]="[ '/add-rating' ]">
      <button class="fa my-float ratingButton">Értékeljen minket!</button>
    </a>
    <button class="fa my-float chat open-button" (click)="openChat()">Chat</button>
    <div *ngIf="isChatOpened">
      <app-chatroom></app-chatroom>
    </div>
  </div>
  <div>
    <!--<app-page-bottom></app-page-bottom>-->
  </div>