@media (max-width: 1500px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
.main-content{
  padding-top:100px;
}

.container-fluid{
  background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-linen-solid-color-background.jpg);
}
.content{
  padding-left:300px;
  padding-right:300px;
}

.float{
	position:fixed;
	width:200px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#000000;
	color:#FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}