hr{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:black;
  height: 1px;
  size: 50px;
}

h3{
  margin-bottom:50px;
}

body {
  background: #eee;
  width: 70%;
  margin-left: 15%;
}

a.list-group-item {
  height:auto;
  min-height:220px;
}
a.list-group-item.active small {
  color:#fff;
}

.service-price{
  font-weight: bold;
}

.service-type{
  font-size: 20px;
  color: #9A2F06;
  line-height: 25px;
  height: 25;
}

.service-name{
  font-weight: bold;
  color: #7E0000;
}

.estimate-div {
  margin-top: 100px;
  text-align: center;
}

.estimate-button {
  padding: 10px 80px 10px 80px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
}

.estimate-button:hover {
  color:#fff;
  background: #000;
  transition-duration: 0.5s;
}

.add-button {
  padding: 10px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
}

.add-button:hover {
  color:#fff;
  background: #000;
  transition-duration: 0.5s;
}

.add-div {
  margin-right: 30px;
}

.first-column{ 
  display: flex;
  align-items: center;
}

.btnEdit {
  background: orange;
  margin-left: 5px;
  margin-right: 5px;
}

.btnEdit:hover {
  background: darkgoldenrod;
}

.type-container {
  display: flex;
  align-items: center;
}

.service-ul {
  margin-bottom: 60px;
}