<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <div *ngIf="carpentryServices && carpentryServiceTypes">
    <div *ngFor="let type of carpentryServiceTypes">
      <h2>{{type.name}}</h2>
      <div *ngFor="let service of getCarpentryServicesByTypeId(type)">
        {{service.name}}
        {{service.price}}
      </div>
    </div>
  </div>
</body>