@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

td{
    padding:5px;
}
.title{
    text-align: center;
}

th{
    padding-left:30px;
}

.logoutBtn{
    margin-top: 100px;
    width: 100%;
}

body {
    margin-left: 15%;
    width: 70%;
    background: #eee;
}