<div *ngIf="isLoggedIn">
  <table style="width:100%">
    <tr class="title">
      <th>Referenciaképek</th>
      <th>Szolgáltatások</th>
      <th>Szövetek</th>
      <th>Kapcsolat</th>
    </tr>
    <tr>
      <td>
        <a [routerLink]="[ '/add-reference-picture' ]">
          <button>Új referenciakép felvétele</button>
        </a>
      </td>
      <td>
        <a [routerLink]="[ '/add-carpentry-service' ]">
          <button>Új szolgáltatás felvétele</button>
        </a>
      </td>
      <td>
        <a [routerLink]="[ '/add-fabric' ]">
          <button>Új szövet felvétele</button>
        </a>
      </td>
      <td>
        <a [routerLink]="[ '/add-contact' ]">
          <button>Új kapcsolat felvétele</button>
        </a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a [routerLink]="[ '/add-carpentry-service-type' ]">
          <button>Új szolgáltatáscsoport felvétele</button>
        </a>
      </td>
      <td>
        <a [routerLink]="[ '/add-fabric-type' ]">
          <button>Új szövettípus felvétele</button>
        </a>
      </td>
    </tr>
  </table>
  <a href="/logout"><button class="btn btn-primary logoutBtn"> Kijelentkezés </button></a>
</div>
<div *ngIf="!isLoggedIn">
  <h1>Csak adminok számára elérhető</h1>
</div>