/*body{
    position:fixed;
	bottom:500px;
    right:500px;
}*/

.black-bottom{
    background: #222222;
    padding-top:200px;
    position: relative;
    bottom: -50px;
    margin-left: -30px;
    margin-right: -30px;
}

.intro-text{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-left: 40dp;
}